{{define "PageContent"}}
<div class="container-fluid p-0">

    <div class="row">
    <div class="col-12 d-flex">
        <div class="card flex-fill">
            <div class="card-header">
                <h5 class="card-title mb-0">watcher check documentation</h5>
            </div>
            <table class="table table-hover my-0">
                <thead>
                    <tr>
                        <th>Watcher</th>
                        <th>Check</th>
                        <th>Doc</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-primary">
                        <td>IDM E2E</td>
                        <td>main</td>
                        <td>IDM End to End , change permanent password , a very long documentation to test scrolling</td>
                    </tr>
                    <tr>
                        <td>IDM E2E</td>
                        <td>00</td>
                        <td >clean start</td>
                    </tr>
                    <tr>
                        <td>IDM E2E</td>
                        <td>01</td>
                        <td >phase 1</td>
                    </tr>
                    <tr>
                        <td>IDM E2E</td>
                        <td>02</td>
                        <td>phase 2</td>
                    </tr>



                    <tr class="table-primary">
                        <td>IDM API</td>
                        <td>status</td>
                        
                        <td>IDM API Status</td>
                    </tr>
                    <tr class="table-primary">
                        <td>EH API</td>
                        <td>status</td>
                        
                        <td>EH API Status</td>
                    </tr>
                    <tr class="table-primary">
                        <td>SM API</td>
                        <td>status</td>
                        
                        <td>SM API Status</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

{{end}}